@import 'tailwindcss';
@import '@nuxt/ui';
@plugin '@tailwindcss/typography';

@theme static {
  --font-sans: 'Inter', sans-serif;
}

* {
  scrollbar-color: var(--ui-bg-accented) transparent;
  scrollbar-width: thin;
  -webkit-tap-highlight-color: transparent;
}

.divide-dimmed {
  @apply divide-neutral-100 dark:divide-white/5;
}

.border-dimmed {
  @apply border-neutral-100 dark:border-white/5;
}

.outline-dimmed {
  @apply outline-neutral-100 dark:outline-white/5;
}

:root {
  --ui-primary: black;
  --ui-radius: 0.375rem;
  --ui-header-height: calc(var(--spacing) * 14);
  --ui-warning: var(--ui-color-warning-600);
  --ui-success: var(--ui-color-success-600);
}

.dark {
  --ui-primary: white;
  --ui-warning: var(--ui-color-warning-400);
  --ui-success: var(--ui-color-success-400);
}

.metal-shadow {
  box-shadow:
    0 0 0 1px #0e3f7e0f,
    0 1px 1px -0.5px #2a334608,
    0 2px 2px -1px #2a33460a,
    0 3px 3px -1.5px #2a33460a,
    0 5px 5px -2.5px #2a334608,
    0 10px 10px -5px #2a334608,
    0 24px 24px -8px #2a334608;
}

@media (prefers-color-scheme: dark) {
  .metal-shadow {
    box-shadow:
      0 1px 1px -0.5px #00000020,
      0 2px 2px -1px #0000001a,
      0 3px 3px -1.5px #0000001a,
      0 5px 5px -2.5px #00000014,
      0 10px 10px -5px #00000012,
      0 24px 24px -8px #00000010;
  }
}

/* Remove margins from p tags inside li elements in prose 
You can remove this as its mostly used by the notes demo
*/
.prose li > p:first-of-type {
  @apply my-0;
}

.prose img:first-of-type {
  @apply rounded mt-1 mb-0;
}

.prose > p {
  @apply leading-loose;
}
